.pokemon-container {
  border: 1px solid;
  max-height:150px;
  width: 80%;
  margin: 35px auto 0px auto;
  margin-top: 25px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.menu-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.pokemon-list {
  text-transform: capitalize;
  margin-top: 10px;
}

.menu-wrapper {
  border: 1px solid;
  height: 100px;
  width: 80%;
  margin: 25px auto 15px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.height-container, .base-exp-container, .weight-container, .id-number-container {
  display: flex;
  padding: 5px;

}

.abilities-container {
  line-height: .5;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.abilities-container > p  {
  margin: 5px;
}

.name-img-container {
  border: 1px solid;
  height: 200px;
  width: 80%;
  display: flex;
  margin: 35px auto 0px auto;
  padding: 10px;
  justify-content: space-around;
  flex-direction:row-reverse;
}

.name-img-container > img {
  height: 100%;
  max-width: 100%;
}


.pokemon-description-container {
  display: flex;
  justify-content: center;
  flex-direction:column;
  text-transform: capitalize;
}

.pokemon-description-field {
  display: flex;
}

.pokemon-description-field > p {
  margin: 5px;
}

.title-text {
  font-weight: 600;
}
